@import "../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.tracks .body {
  color: var(--grey);
  display: inline;
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

.tracks .trackelement {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: var(--white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.tracks .trackelement .trackcontent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.tracks .trackelement .columns {
  display: flex;
  flex-direction: row;
}

.tracks .trackelement img {
  width: 100px;
  height: 100px;
}