api/node_modules/*
client/node_modules/*
./node_modules
data-node
.DS_Store
./client/.DS_Store
./client/src/.DS_Store
./client/src/components/.DS_Store
./api/.DS_Store
./api/src/.DS_Store
./api/src/components/.DS_Store


# firebase stuff
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
database-debug.log
database.rules.json
firestore-debug.log
ui-debug.log
client/.eslintcache
