@import "../../../styles/index.css";

.copylink {
  width: 45px;
  height: 45px;
  margin-top: 2px;
  margin-left: 20px;
  color: var(--red);
  background-color: inherit;
  border-color: var(--red);
  border-width: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.copylink:focus {
  outline: none;
}

.copylink:active {
  transform: translate(1px, 1px);
}

.copylink .link {
  width: auto;
  height: auto;
  max-height: 25px;
  margin-top: 20%;
}