@import "../../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.genres .list {
  margin-top: 10px;
}

.genres .element {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--yellow);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.genres .element .number {
  float: left;
}

.genres .element2 {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--red);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.genres .element2 .number {
  float: left;
}

.genres .element3 {
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--teal);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

.genres .element3 .number {
  float: left;
}
