@import "../../styles/index.css";

.friendPage h1 {
  text-align: center;
  padding-top: 2%;
}

.friendPage {
  height: 100vh;
}

.friend {
  border-radius: 20px;
  background: var(--almost-white);
  /* border: 1px solid var(--grey); */
  width: 85%;
  height: 100px;
  margin: 0.75rem auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.friend img {
  float: left;
  border-radius: 50%;
  height: 80%;
  width: 80px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.friend .name {
  padding-top: 15px;
  text-indent: 15px;
  margin-bottom: 15px;
}

.friend .bio {
  text-indent: 15px;
}
