@import "../../../styles/index.css";

.body {
  color: var(--grey);
}

.element {
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: var(--yellow);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.altelement {
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: var(--red);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.trackelement {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: var(--white);
  border-style: solid;
  border-width: 1px;
  border-color: var(--black);
  border-radius: 15px;
}

.profilepicture {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--black);
  border-radius: 50%;
}

.copylink {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 30px;
}

.socials {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.trackcontent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.album {
  width: 100px;
  height: 100px;
}

.artistimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.artistimgs {
  margin-top: 10px;
}
