@import "../../../../styles/index.css";

.edit {
  width: auto;
  height: auto;
  max-height: 40px;
  color: var(--red);
  background-color: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2.2rem;
  border-color: var(--red);
  border-width: 0.3rem;
  border-radius: 2rem;
  margin-left: 30px;
  margin-top: 2px;
  cursor: pointer;
}

.edit:focus {
  outline: none;
}

.edit:active {
  transform: translate(1px, 1px);
}
