@import "../../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.artistimgs {
  margin-top: 10px;
}

.artistimgs img {
  padding: 10px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
