@import "../../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.artistimgs {
  display: flex;
}

.artistimgs .image {
  flex: 33%;
  position: relative;
  padding: 10px;
}

.artistimgs img {
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.artistimgs .rows {
  display: flex;
  flex-direction: column;
}

.artistimgs .row-1 {
  display: flex;
  flex-direction: row;
}
