@import "../../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.playlistimgs {
  display: flex;
  flex-wrap: wrap;
}

.playlistimgs .album {
  position: relative;
  padding: 10px;
}

.playlistimgs img {
  height: 250px;
  width: 250px;
}

.playlistimgs h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--almost-white);
  text-shadow: -1px -1px var(--black), -1px 1px var(--black),
    1px -1px var(--black), 1px 1px var(--black);
  max-width: 80%;
  text-align: center;
  word-wrap: break-word;
}
