@import "../../../../styles/index.css";

.title {
  text-align: left;
  color: var(--red);
}

.playlistimgs {
  display: flex;
}

.playlistimgs .album {
  flex: 33%;
  position: relative;
  max-width: 11.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.playlistimgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.playlistimgs h3 {
  position: absolute;
  flex: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--almost-white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  -webkit-font-smoothing: antialiased;
  font-size: 1.4vw;
  width: 95%;
  max-height: 100%;
  text-align: center;
  word-wrap: break-word;
}

.playlistimgs .rows {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.playlistimgs .row-1 {
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
  height: 11vw;
}
