@import '../../../styles/index.css';

.Leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    padding: 6rem 6rem 6rem;
}

.Leaderboard .harmonyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Leaderboard .harmonyHeader h1 {
    font-size: 4rem;
    line-height: 3.75rem;
}

.Leaderboard .harmonyHeader h2 {
    line-height: 3.75rem;
}

.Leaderboard .harmonyHeader img {
    padding-top: 5rem;
}