@import "../../../../styles/index.css";

.copylink {
  width: 45px;
  height: 45px;
  margin-top: 2px;
  margin-left: 20px;
  color: var(--red);
  background-color: var(--almost-white);
  border-color: var(--red);
  border-width: 0.3rem;
  border-radius: 50%;
}

.copylink .link {
  width: auto;
  height: auto;
  max-height: 25px;
  margin-top: 0.2rem;
}
