@import '../../styles/index.css';

.Header h3 {
    font-size: 18px;
}

.navbar {
    position: relative;
    z-index: 1;
    left: 0;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
}

.navbar .empty {
    flex-grow: 1;
}

.navbar li:first-of-type {
    padding-left: 6rem;
}

.navbar li:last-of-type {
    padding-right: 6rem;
}

.navbar li .nav-item {
    color: var(--black);
    text-decoration: transparent;
}

.navbar li .nav-item:hover {
    border-bottom: 2px solid var(--black);
}

.navbar li {
    padding: 1em;
}