@import "../../../../styles/index.css";

.modal {
  height: 1000px;
  width: 1000px;
  background-color: var(--almost-white);
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.modal .content {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.modal .content .row-1 {
  display: flex;
  flex-direction: row;
}

/*
.modal .content .row-1 .col-1 {
}

.modal .content .row-1 .col-1 img {
}
*/

.modal .content .row-1 .col-2 {
  display: flex;
  flex-direction: column;
}

.modal .content .row-1 .col-2 .form {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  background-color: var(--almost-white);
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.modal .content .row-2 {
  display: flex;
  flex-direction: column;
}

.modal .content .row-2 .form {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  background-color: var(--almost-white);
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.modal .content .row-3 {
  display: flex;
  flex-direction: column;
}

/*
.modal .content .row-3 .form {
}
*/

.modal .content .row-4 {
  display: flex;
  flex-direction: row;
}

.modal .content .row-4 .btn {
  background-color: var(--red);
  border: 0px transparent;
  border-radius: 1.875rem;
  height: 3.75rem;
  width: 12.5rem;
}

.modal .content .row-4 .btn:hover {
  opacity: 75%;
}

.modal .content .row-4 .btn:focus {
  outline: none;
}

.modal .content .row-4 .btn h3 {
  font-size: 1.125rem;
  color: var(--white);
}

.close {
  font-size: 3rem;
  color: var(--red);
  margin-right: 1rem;
}
