@import '../../../styles/index.css';

.MessagingList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.MessagingList::-webkit-scrollbar {
    width: 0.25rem;
}

.MessagingList::-webkit-scrollbar-track {
    background: var(--grey);
}

.MessagingList::-webkit-scrollbar-thumb {
    background: var(--blue);
}